.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #282828;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile__titulo {
    font-size: 2.5em;
    margin-bottom: 1rem;
    padding-left: 150px;
    padding-right: 10px;
}

.Profile-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Profile__label {
    font-weight: bold;
    color: #ffffff;
}

.link-perfil {
    display: block;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
}

.img-profile {
    width: 100px;
    height: auto;
    padding-left: 150px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
 .Profile {
       width: 300px;
     }
}
