.center {
    position: fixed;
    top: 0%;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 0px 0;
    right: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-page {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redirect-page {
    border: none; 
    color: #00ffff; 
    padding: 10px 28px;
    margin: 5px;
    cursor: pointer; 
    text-decoration: none;
    position: relative; /* Para el efecto de subrayado */
}

.redirect-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3CA6A6;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.redirect-page:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logout-link {
    border: none; 
    color: #00ffff; 
    padding: 10px 28px; /* Mismo padding que los otros enlaces */
    margin: 0px;
    cursor: pointer; 
    text-decoration: none;
    position: relative; /* Para el efecto de subrayado */
    margin-left: auto; /* Para alinearlo a la derecha */
}

.logout-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3CA6A6;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.logout-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.redirect-options-view {
    margin-left: 100px;
}

.redirect-view {
    color: aliceblue;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    position: relative; /* Para el efecto de subrayado */
}

.redirect-view::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3D5A73;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.redirect-view:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/564x/26/1e/71/261e71cdb3cdd89ae42a46c4ac943907.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    z-index: -1; 
}

@media (max-width: 768px) {
    .center {
        padding: 5px 0;
    }
}
