/* Profile.css */
.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #282828;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Profile__titulo {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.Profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Profile__label {
    font-weight: bold;
    color: #ffffff;
}

.link-perfil {
    display: block;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
}

.Profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre el ícono y el título */
}

.img-profile {
    width: 100px; /* Tamaño del ícono */
    height: auto; /* Mantén la relación de aspecto */
}

.Profile__titulo {
    font-size: 1.5em; /* Ajusta el tamaño del título según sea necesario */
    margin-top: 0; /* Elimina margen superior para que el título esté justo encima del ícono */
}