.Registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 400px;
    border-radius: 5px;
    background-color: #282828;
    color: #ffffff;
}

.Registro h1 {
    font-size: 3em; /* Tamaño de fuente más grande para el título */
}

.Registro input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.Registro button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.Registro button:hover {
    background-color: #0056b3;
}

.Formulario {
    padding: 0;
    margin: 0;
}
