body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
  }
  
  .Formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #282828;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

.Formulario h1 {
    font-size: 3em;
    margin-bottom: 1em;
    font-family: 'Times New Roman', sans-serif;
}

.Formulario input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #282828;
    color: #ffffff;
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 10px;
}

.Formulario button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 95%;
    margin-top: 2rem;
    margin-left: 10px;
}

.Formulario button:hover {
    background-color: #0056b3;
}

.link-registro {
    text-decoration: underline;
    cursor: pointer;
    color: #107361;

    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .Formulario {
       width: 300px;
     }
   }